input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.select2, .select2-results {
  width: 100% !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Buscar";
}

:root {
  --falcon-100: #0b1727;
  --falcon-200: #232e3c;
  --falcon-300: #344050;
  --falcon-400: #4d5969;
  --falcon-500: #5e6e82;
  --falcon-600: #748194;
  --falcon-700: #9da9bb;
  --falcon-800: #b6c1d2;
  --falcon-900: #d8e2ef;
  --falcon-1000: #edf2f9;
  --falcon-1100: #f9fafd;
}

.theme-control-toggle .theme-control-toggle-label {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--falcon-300);
  color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.theme-control-toggle .theme-control-toggle-label:hover {
  background-color: var(--falcon-400);
}