{% extends 'resultados/resultados_base.html' %}
{% load static %}

{% block above_table %}{% endblock %}
{% block dict_sanciones %}
  <section class="bg-white" style="padding: 50px 0">
    <div class="container">
      <h4 style="margin-bottom: 50px">Tipos de sanciones:</h4>
      <p>A: Interferir en el proceso correcto de contratacion</p>
      <p>B: Resolución del contrato</p>
      <p>C: Contratar o presentarse a convocatoria estando impedido o sin cumplir con los requisitos</p>
      <p>D: Incumplir contrato</p>
      <p>E: Documentación e información falsa o inexacta </p>
      <p>F: Subcontratar sin autorización o encontra de lo permitido/p>
      <p>G: Otros</p>
    </div>
  </section>
{% endblock %}
{% block meaning_block %}
  <p>Información de empresas contratistas que han sido sancionados alguna vez, como por ejemplo los tipos de sanciones que han tenido, la cantidad de monto ganado desde su primera sancion y el número de contratos ganados.
    En este caso, solo se consideran contratos a partir de su primera sanción.</p>
  <p>Las sanciones no necesariamente inhabilitan a una empresa a contratar indefinidamente con el estado, pero resulta relevante analizar que tanta cuota de los contratos del estado acaparan estas empresas.
  </p>
  <p>En este caso, en los últimos 4 años (2018-actualidad), el monto de los contratos totales es de 178,477,160,000 soles. La cuota de las empresas sancionadas es de 31,146,540,000 soles, lo que representa un 17.4% del total de monto contratado en estos años. 2019 empresas corresponden a estas
    condiciones, de las 21598 que han aplicado a contratos en los últimos 4 años, un 9.3 %.
  </p>
{% endblock %}

{% block below_table %}
  <section class="bg-white">
    <div class="container">
      <h2 style="padding: 100px 0 50px">Un poco de visualización...</h2>
      <div>
        <div id="ranking_monto-bar" style="width: 100%;height:500px;"></div>
      </div>
      <div>
        <div id="ranking_sanciones-bar" style="width: 100%;height:500px;"></div>
      </div>
      <div>
        <div id="ranking_contratos-bar" style="width: 100%;height:500px;"></div>
      </div>
      <div class="row w-100" style="margin-top: 50px">
        <div class="col-6">
          <h4>Sanciones por departamento</h4>
          <img src="{% static 'project/img/sanciones_departamento.jpg' %}" class="w-100" alt="">
        </div>
        <div class="col-6">
          <h4>Tipos de sanciones</h4>
          <div id="tipo_sanciones-pie" style="width: 100%;height:300px;"></div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
<script>
  let datatable = {
    {% block filename_excel %}
      filename: function () {
        return `*_ReporteSanciones_(${searched_value})`
      },
    {% endblock %}
    {% block table_data %}
      ajax: '{% url 'api_reporte-sanciones-list' %}?format=datatables',
      columns: [
        {data: "link", className: "d-none disallow-mark",},
        {
          data: "ruc", title: 'RUC', className: "align-middle", render: function (data, type, row) {
            if (type === 'display') {
              return `<a target="_blank" href="${row.link}">${data}</a>`;
            } else {
              return data
            }
          }
        },
        {data: "razon_social", title: 'Razón Social', className: "align-middle"},
        {data: "a", title: 'A', className: "align-middle disallow-mark"},
        {data: "b", title: 'B', className: "align-middle disallow-mark"},
        {data: "c", title: 'C', className: "align-middle disallow-mark"},
        {data: "d", title: 'D', className: "align-middle disallow-mark"},
        {data: "e", title: 'E', className: "align-middle disallow-mark"},
        {data: "f", title: 'F', className: "align-middle disallow-mark"},
        {data: "g", title: 'G', className: "align-middle disallow-mark"},
        {data: "sanciones", title: '# Sanciones', className: "align-middle disallow-mark"},
        {
          data: "primera_sancion", title: 'Primera Sanción en', className: "align-middle disallow-mark", render: function (data, type) {
            if (data) {
              let date = moment(data, "YYYY-MM-DD");
              return (type === 'display') ? date.format("DD/MM/YYYY") : date.format("X");
            } else {
              return (type === 'display') ? '--' : data;
            }
          },
        },
        {
          data: "monto_ganado", title: 'Monto Total', className: "align-middle disallow-mark", render: function (data, type) {
            if (type === 'display') {
              return data ? `S/. ${data}` : '--'
            } else {
              return data
            }
          },
        },
        {data: "contratos_ganados", title: '# Contratos', className: "align-middle disallow-mark"},
      ],
      columnDefs: [
        {
          targets: [1, 2, -4, -3, -2, -1],
          render: function (data, type) {
            if (type === 'display') {
              return (data) ? data : '--';
            } else {
              return data
            }
          },
        },
        {
          searchable: false,
          "targets": [0, -1]
        },
        {
          orderable: false,
          "targets": [0]
        }
      ],
      order: [1, 'asc'],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todo"]]
    {% endblock %}
  }
</script>
{% block extrajs_resultados %}
  <script>
    $(() => {
      let tipoSancionesPieChart = echarts.init($('#tipo_sanciones-pie')[0]);
      tipoSancionesPieChart.setOption({
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          containLabel: true
        },
        legend: {
          top: 'center',
          left: '5%',
          orient: 'vertical',
        },
        tooltip: {
          trigger: 'item',
          {% comment %}formatter: (params) => {
            return `
                ${params.seriesName} <br/><br/>
                ${params.name}: <b>${params.value}%</b><br/>
                ${params.data.sigladocide} ${params.data.nrodocumento}<br/>
                Ingreso: ${params.data.fechaingreso}<br/>
                `;
          },{% endcomment %}
        },
        series: [
          {
            name: 'Tipos',
            type: 'pie',
            {#radius: '70%',#}
            data: {{ tipo_sanciones_chart|safe }},
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            },
            label: {
              show: false,
              {% comment %}position: 'center',
              overflow: 'break',{% endcomment %}
            },
          }
        ]
      });

      let rankingMontoBarChart = echarts.init($('#ranking_monto-bar')[0]);
      rankingMontoBarChart.setOption({
        title: {
          text: 'Ranking según Monto Ganado',
          textStyle: {
            fontWeight: 'normal',
          }
        },
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          {#top: 50,#}
          {#bottom: 10,#}
          containLabel: true
        },
        tooltip: {
          confine: true,
          trigger: "item",
          axisPointer: {
            type: "shadow"
          },
          formatter: (params) => {
            console.log(params)
            return `
                {% comment %}${params.seriesName} <br/><br/>{% endcomment %}
                ${params.name}: <b>S/. ${params.data.monto_ganado}</b><br/>
                Porcentaje de 2018-2022: <b>${params.data.percentage.toFixed(2)}%</b><br/>
                `;
          },
        },
        dataset: [
          {
            source: {{ ranking_monto|safe }},
          },
          {% if ranking_monto_length %}
            {
              transform: {
                type: 'sort',
                config: {dimension: 'monto_ganado', order: 'desc'}
              }
            }
          {% endif %}
        ],
        xAxis: {
          name: 'Monto Ganado',
          nameLocation: 'center',
          nameGap: 25,
          nameTextStyle: {
            {#fontStyle: 'italic',#}
            fontWeight: 'bold',
          },
          {% comment %}axisLabel: {
            formatter: function (value, index) {
              {#return value + 'kg';#}
              {#console.log(value, numeral(value).format('0a'))#}
              return (numeral(value).format('0a').toUpperCase());
            }
          },{% endcomment %}

        },
        yAxis: {
          name: 'Razón Social',
          nameLocation: 'start',
          nameTextStyle: {
            {#fontStyle: 'italic',#}
            fontWeight: 'bold',
          },
          inverse: true,
          type: 'category',
          axisLabel: {
            interval: 0,
            rotate: 0,
            width: '150',
            overflow: 'truncate'
          },
          {#max: 3#}
        },
        series: {
          type: 'bar',
          encode: {x: 'monto_ganado', y: 'razon_social'},
          datasetIndex: 1
        }
      });

      let rankingSancionesBarChart = echarts.init($('#ranking_sanciones-bar')[0]);
      rankingSancionesBarChart.setOption({
        color: ['#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc'],
        title: {
          text: 'Ranking según número de sanciones',
          textStyle: {
            fontWeight: 'normal',
          }
        },
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          {#top: 50,#}
          {#bottom: 10,#}
          containLabel: true
        },
        tooltip: {
          confine: true,
          trigger: "item",
          axisPointer: {
            type: "shadow"
          },
        },
        dataset: [
          {
            source: {{ ranking_sanciones|safe }},
          },
          {% if ranking_sanciones_length %}
            {
              transform: {
                type: 'sort',
                config: {dimension: 'sanciones', order: 'desc'}
              }
            }
          {% endif %}
        ],
        xAxis: {
          name: 'Máx. Sanciones',
          nameLocation: 'center',
          nameGap: 25,
          nameTextStyle: {
            {#fontStyle: 'italic',#}
            fontWeight: 'bold',
          }
        },
        yAxis: {
          name: 'Razón Social',
          nameLocation: 'start',
          nameTextStyle: {
            {#fontStyle: 'italic',#}
            fontWeight: 'bold',
          },
          inverse: true,
          type: 'category',
          axisLabel: {
            interval: 0,
            rotate: 0,
            width: '150',
            overflow: 'truncate'
          },
          {#max: 3#}
        },
        series: {
          type: 'bar',
          encode: {x: 'sanciones', y: 'razon_social'},
          datasetIndex: 1
        }
      });

      let rankingContratosBarChart = echarts.init($('#ranking_contratos-bar')[0]);
      rankingContratosBarChart.setOption({
        color: ['#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc'],
        title: {
          text: 'Ranking según Contratos Ganados',
          textStyle: {
            fontWeight: 'normal',
          }
        },
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          {#top: 50,#}
          {#bottom: 10,#}
          containLabel: true
        },
        tooltip: {
          confine: true,
          trigger: "item",
          axisPointer: {
            type: "shadow"
          },
        },
        dataset: [
          {
            source: {{ ranking_contratos|safe }},
          },
          {% if ranking_contratos_length %}
            {
              transform: {
                type: 'sort',
                config: {dimension: 'contratos_ganados', order: 'desc'}
              }
            }
          {% endif %}
        ],
        xAxis: {
          name: 'Contratos Ganado',
          nameLocation: 'center',
          nameGap: 25,
          nameTextStyle: {
            {#fontStyle: 'italic',#}
            fontWeight: 'bold',
          }
        },
        yAxis: {
          name: 'Razón Social',
          nameLocation: 'start',
          nameTextStyle: {
            {#fontStyle: 'italic',#}
            fontWeight: 'bold',
          },
          inverse: true,
          type: 'category',
          axisLabel: {
            interval: 0,
            rotate: 0,
            width: '150',
            overflow: 'truncate'
          },
          {#max: 3#}
        },
        series: {
          type: 'bar',
          encode: {x: 'contratos_ganados', y: 'razon_social'},
          datasetIndex: 1
        }
      });

      window.onresize = function () {
        tipoSancionesPieChart.resize();
        rankingMontoBarChart.resize();
        rankingSancionesBarChart.resize();
        rankingContratosBarChart.resize();
      };
    })


  </script>
{% endblock %}