{% extends 'resultados/resultados_base.html' %}
{% load static %}
{% block above_table %}
  <section style="background-color: white">
    <div class="container text-center" style="padding: 50px 0">
      <label style="padding-bottom: 20px;font-weight: 600">Para más detalle de los campos, puede ver el diccionario de datos en el siguiente botón:</label>
      <br>
      <a class="btn btn-etdlp bg-danger mb-4" href="{% static 'project/diccionario_de_datos.xlsx' %}" download>Ver Diccionario de tablas</a>
    </div>
  </section>
{% endblock %}
{% block below_table %}{% endblock %}
<script>
  let datatable = {
    {% block filename_excel %}
      filename: function () {
        return `*_proveedores_(${searched_value})`
      },
    {% endblock %}
    {% block table_data %}
      ajax: '{% url 'api_proveedores-list' %}?format=datatables',
      columns: [
        {data: "link", className: "d-none disallow-mark",},
        {
          data: "ruc", title: 'RUC', className: "align-middle", render: function (data, type, row) {
            if (type === 'display') {
              return `<a target="_blank" href="${row.link}">${data}</a>`;
            } else {
              return data
            }
          }
        },
        {data: "razon_social", title: 'Razón Social', className: "align-middle"},
        {data: "tipoempresa", title: 'Tipo de Empresa', className: "align-middle disallow-mark"},
        {
          data: "organos_nomb_apell", title: 'Administrativos', className: "align-middle",
          render: function (data, type, row) {
            if (type === 'display') {
              if (data) {
                let nomb_list = data.split('_._')
                let dni_list = row.organos_nrodocumento.split('_._')
                for (let i = 0; i < nomb_list.length; i++) {
                  if (i < dni_list.length) {
                    nomb_list[i] = `${nomb_list[i]} (${dni_list[i]})`
                  }
                }
                return `${nomb_list.map((n) => `<li>${n}</li>`).join('')}`
              }
              return '--';
            } else {
              return data
            }
          }
        },
        {data: "organos_nrodocumento", title: 'Administrativos', className: "align-middle d-none"},
        {data: "representantes_nomb_apell", title: 'Representantes', className: "align-middle",
          render: function (data, type, row) {
            if (type === 'display') {
              if (data) {
                let nomb_list = data.split('_._')
                let dni_list = row.representantes_nrodocumento.split('_._')
                for (let i = 0; i < nomb_list.length; i++) {
                  if (i < dni_list.length) {
                    nomb_list[i] = `${nomb_list[i]} (${dni_list[i]})`
                  }
                }
                return `${nomb_list.map((n) => `<li>${n}</li>`).join('')}`
              }
              return '--';
            } else {
              return data
            }
          }},
        {data: "representantes_nrodocumento", title: 'Representantes', className: "align-middle d-none"},
        {data: "socios", title: 'Socios', className: "align-middle",
          render: function (data, type, row) {
            if (type === 'display') {
              if (data) {
                let nomb_list = data.split('_._')
                let dni_list = row.socios_dni.split('_._')
                for (let i = 0; i < nomb_list.length; i++) {
                  if (i < dni_list.length) {
                    nomb_list[i] = `${nomb_list[i]} (${dni_list[i]})`
                  }
                }
                return `${nomb_list.map((n) => `<li>${n}</li>`).join('')}`
              }
              return '--';
            } else {
              return data
            }
          }},
        {data: "socios_dni", title: 'Socios', className: "align-middle d-none"},
        {data: "seace_registros", title: '# Contratos', className: "align-middle dt-body-right disallow-mark"},
        {
          data: "seace_gasto_total", title: 'Monto Total', className: "align-middle dt-body-right dt-body-nowrap disallow-mark", render: function (data, type) {
            if (type === 'display') {
              return (data) ? 'S/. ' + data : '--';
            } else {
              return data
            }
          }
        },
        {data: "n_sanciones", title: '# Sanciones', className: "align-middle dt-body-right dt-body-nowrap disallow-mark"},
      ],
      columnDefs: [
        {
          targets: [1, 2, 3],
          render: function (data, type) {
            if (type === 'display') {
              return (data) ? data : '--';
            } else {
              return data
            }
          },
        },
        {
          searchable: false,
          "targets": [0, 3, -3, -2, -1]
        },
        {
          orderable: false,
          "targets": [0]
        }
      ],
      order: [1, 'asc'],
    {% endblock %}
  }
</script>
{% block extrajs_resultados %}{% endblock %}