{% extends 'resultados/resultados_base.html' %}

{% block above_table %}{% endblock %}
{% block meaning_block %}
  <p>A partir de la tabla de “Contratos de Interés”, se muestra qué empresas han suscrito contratos mientras han estado inhabilitadas y cuántos contratos han ganado. 55 empresas de 24 mil muestran esta condición.</p>
{% endblock %}
{% block below_table %}{% endblock %}
<script>
  let datatable = {
    {% block filename_excel %}
      filename: function () {
        return `*_ReporteEmpresas_(${searched_value})`
      },
    {% endblock %}
    {% block table_data %}
      ajax: '{% url 'api_reporte-empresas-list' %}?format=datatables',
      columns: [
        {data: "link", className: "d-none disallow-mark",},
        {
          data: "ruc", title: 'RUC', className: "align-middle", render: function (data, type, row) {
            if (type === 'display') {
              return `<a target="_blank" href="${row.link}">${data}</a>`;
            } else {
              return data
            }
          }
        },
        {data: "razon_social", title: 'Razón Social', className: "align-middle"},
        {data: "field_contratos_durante_sancion", title: '# Contratos durante sanción', className: "align-middle disallow-mark"},
      ],
      columnDefs: [
        {
          targets: [1, 2, 3],
          render: function (data, type) {
            if (type === 'display') {
              return (data) ? data : '--';
            } else {
              return data
            }
          },
        },
        {
          searchable: false,
          "targets": [0, -1]
        },
        {
          orderable: false,
          "targets": [0]
        }
      ],
      order: [3, 'desc'],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todo"]]
    {% endblock %}
  }
</script>
{% block extrajs_resultados %}{% endblock %}