:root {
  --bs-body-bg: #f8f8f8;
  --bs-body-color: #2F333A;
}

.section-title {
  color: #2C3E5C;
}

.section-title-dark {
  color: white;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.input-group input, .input-group .input-group-text {
  border-radius: 20px;
  border: none
}

.input-group {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.input-group input {
  border-right: 0;
  padding: 0 1.45rem;
}

.input-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A09F96;
}

.input-group-append .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  background-color: white;
  padding: 0.075rem 0.275rem;
}

.input-group-append .input-group-text .btn-link {
  color: #A09F96;
}

.input-group-append .input-group-text .btn-link:hover {
  color: black;
}

.input-group-append .input-group-text .btn-link:focus {
  box-shadow: none;
}

.buscador-portada h1 {
  color: #2C3E5C
}

.buscador-portada p {
  color: #2F333A;
  max-width: 60%;
  margin: auto
}

.table-responsive {
  position: relative;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  padding: 1em 0;
  /*background-color: #0e1c2fb3 !important;*/
  height: 100%;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.btn-etdlp {
  padding: 3px 45px;
  background-color: #2C3E5C;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn-etdlp-dark{
  background-color: #fff;
  color: #2C3E5C;
}
.btn-etdlp.btn-etdlp-dark:hover {
  color: #2C3E5C;
}

.btn-etdlp:hover {
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;
}

table.dataTable thead th {
  padding: 0.5rem 18px;
  font-weight: normal;
  font-size: 12px;
  color: #4F5B67;
  border-bottom: 1px solid rgb(17 17 17 / 30%);
}

.table-responsive {
  font-size: 14px;
}


table.dataTable.no-footer {
  border-bottom: 1px solid rgb(17 17 17 / 30%);
}
