{% extends 'base/root.html' %}
{% load static %}

{% block extrastyle %}
  <style>
    .bg-2 .number {
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 100px;
      color: #219EE4;
    }

    .bg-2 .title {
      font-weight: bold;
      line-height: 2.5rem;
    }

    .bg-2 .description {
      line-height: 2.5rem;
    }

    .section-title {
      font-weight: 700;
      font-size: 36px;
    }

    .section-description {
      font-size: 20px;
      line-height: 35px;
      font-weight: 300;
    }

    .section-item-icon {
      font-size: 35px;
      color: #DF3B3A;
    }

    .section-item-icon i {
      padding: 1.7rem 0.7rem;
    }

    .section-item {
      padding: 11px 0;
    }

    .section-item .title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 14px;
    }

    .section-item .description {
      font-size: 16px;
      font-weight: 300;
    }

    .bg-5 .card {
      text-align: start;
      border: none;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      margin-right: 3.5rem;
      margin-left: 3.5rem;
    }

    .bg-5 .card .card-body {
      padding: 24px;
    }

    .bg-5 .card .card-title {
      font-size: 18px;
      font-weight: 500;
    }

    .bg-5 .card .card-text {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
    }

    .bg-5 .card-img-top {
      background-color: #F6F6FC;
      height: 300px;
      object-fit: cover;
    }
  </style>
{% endblock %}
{% block body %}
  {#################  PORTADA  ################}
  <section style="background-image: url('{% static 'project/img/landing.png' %}');background-size: cover; min-height: 760px; height: 100vh;" id="">
    <div class="h-100 position-relative">
      <div class="container h-100">
        <div class="row w-100 h-100">
          <div class="col col-6 my-auto">
            <h1 style="font-size: 100px; color: #05060A;font-weight: 600; padding-bottom: 46px;margin:0">HORUS</h1>
            <p style="color: #5D616F;font-size: 22px; line-height: 26px">Todas las bases de datos de proveedores del estado <br> en un solo lugar.
            </p>
            {#        <button class="btn btn-warning text-white" style="padding: 2px 50px;">Estadísticas <br> Generales</button>#}
          </div>
        </div>
      </div>
      <img class="position-absolute" style="left: auto; right: 0; top:auto; bottom:5vh; max-height: 90vh; max-width: 60vw" src="{% static 'project/img/imgae_landing.png' %}" alt="">
    </div>
  </section>
  {#################  CIFRAS  ################}
  <section class="bg-2 bg-white">
    <div style="padding: 100px 0" class="container">
      <h1 class="text-center section-title mb-2">Todo en un solo lugar</h1>
      <div class="row w-100 m-0">
        {% comment %}<div class="col text-center">
            <div class="number">+200K</div>
            <div class="title">Registros de visitas</div>
            <div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>
          </div>
          <div class="col text-center">
            <div class="number">+1.1M</div>
            <div class="title">Pagos de Planilla</div>
            <div class="description">Ministerios y despacho presidencial<br>
              Desde julio 2021<br>
              Actualizado mensualmente
            </div>
          </div>
        <div class="col text-center">
          <div class="number">+21K</div>
          <div class="title">Empresas Proveedoras</div>
          <div class="description">Desde el 2021<br>
            Actualizado mensualmente
          </div>
        </div>
        <div class="col text-center">
          <div class="number">+300k</div>
          <div class="title">Registros de Afiliación Política</div>
          <div class="description">Afiliación política de todos los DNI
            en nuestras bases de datos<br>
            Actualizado cada 3 meses
          </div>
        </div>{% endcomment %}
        <div class="col text-center">
          <div class="number">+2M</div>
          <div class="title">Número de Contratos</div>
          {% comment %}<div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>{% endcomment %}
        </div><div class="col text-center">
          <div class="number">24K</div>
          <div class="title">Empresas</div>
          <div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>
        </div>{% comment %}<div class="col text-center">
          <div class="number">1258B</div>
          <div class="title">Millones de Soles en contratos</div>
          <div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>
        </div{% endcomment %}<div class="col text-center">
          <div class="number">3K</div>
          <div class="title">Número de Sanciones</div>
          {% comment %}<div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>{% endcomment %}
        </div><div class="col text-center">
          <div class="number">25K</div>
          <div class="title">Número de DNIs</div>
          {% comment %}<div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>{% endcomment %}
        </div>
      </div>


    </div>
  </section>
  {#################  BUSCADOR  ################}
  <section class="bg-3 position-relative h-auto">
    <div class="position-absolute w-100">
      <div class="container">
        <div class="row w-100" style="padding: 100px 0">
          <div class="col col-6">
            <img src="{% static 'project/img/image_1.png' %}" class="" style="width: 80%" alt="">
          </div>
          <div class="col col-6">
            <h1 class="section-title" style="margin: 30px 0">Buscador de Proveedores</h1>
            <div class="section-description" style="margin-bottom: 20px;">Organizamos millones de datos en un solo lugar</div>
            <div>
              <div class="row">
                <div class="col col-2 section-item-icon">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="col col-10 section-item">
                  <label for="" class="title">Busca por Razón Social, RUC, DNIs y Nombres relacionados a la empresa</label>
                  <p class="section-item-description">Encontramos cualquier coincidencia en nuestra base de datos.</p>
                </div>
              </div>
              <div class="row">
                <div class="col col-2 section-item-icon">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="col col-10 section-item">
                  <label for="" class="title">Datos recopilados de distintas fuentes</label>
                  <p class="description">SEACE, OSCE, TC, PJ.</p>
                </div>
              </div>
            </div>
            <a class="btn btn-etdlp mt-4" href="{% url 'buscador_proveedores' %}">Ir al buscador</a>
          </div>
        </div>
      </div>
    </div>
    <img src="{% static 'project/img/1.png' %}" class="h-auto w-100 " style="z-index: -1" alt="">

  </section>
  {#################  PERFIL  ################}
  <section class="position-relative h-auto">
    <div class="position-absolute w-100">
      <div class="container">
        <div class="row w-100" style="padding: 70px 0">
          <div class="col col-6">
            <h1 class=" section-title">Perfil de Proveedores</h1>
            <div class="section-description" style="margin: 20px 0">Con base en información histórica, armamos perfiles que permiten responder las siguientes preguntas.</div>
            <div>
              <div class="row">
                <div class="col col-2 section-item-icon">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="col col-10 section-item">
                  <label for="" class="title">¿Tiene sanciones?</label>
                  <p class="section-item-description">¿Siguen contratando después de ser sancionados?</p>
                </div>
              </div>
              <div class="row">
                <div class="col col-2 section-item-icon">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="col col-10 section-item">
                  <label for="" class="title">¿Que personas están relacionadas con la empresa?</label>
                  <p class="description">¿Tienen relación con partidos políticos?</p>
                </div>
              </div>
              <div class="row">
                <div class="col col-2 section-item-icon">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="col col-10 section-item">
                  <label for="" class="title">Lugar de contratación</label>
                  <p class="description">¿En que departamentos contrata?</p>
                </div>
              </div>
            </div>
            <a class="btn btn-etdlp mt-3" href="{% url 'buscador_perfiles' %}">Ir a perfiles</a>
          </div>
          {% comment %}<div class="col col-6 position-relative">
        <img src="{% static 'project/img/image__2.png' %}" class="position-absolute l-auto" style="left:auto; right: 0;width: 55%" alt="">

      </div>{% endcomment %}
        </div>
      </div>
    </div>
    <img src="{% static 'project/img/2.png' %}" class="h-auto w-100" style="z-index: -1" alt="">

  </section>
  {#################  SANCIONES  ################}
  <section class="bg-5" style="background-color: #2C3E5C;margin-top: -1px;">
    <div class="container text-center" style="padding: 30px 0">
      <h1 class="section-title" style="color: white; padding: 30px 0">Reportes</h1>
      <div class="" style="color: white;margin-bottom: 40px">Analizamos 1.2 trillones de soles, 2 millones de contratos, 25 mil DNIs, 21 mil empresas y 3 mil sanciones</div>

      <div class="row">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'project/img/reporte_contrato.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'resultado_reportes' tabla='contratos' %}">Contratos de Interés</a></h5>
              <p class="card-text">Contratos suscritos durante el periodo de inhabilitación de empresas contratada</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'project/img/reporte_empresa.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'resultado_reportes' tabla='empresas' %}">Empresas de Interés</a></h5>
              <p class="card-text">Empresas Inhabilitadas que contratan.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'project/img/reporte_sanciones.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'resultado_reportes' tabla='sanciones' %}">Empresas sancionadas que aún contratan con el estado</a></h5>
              <p class="card-text">Monto facturado por empresa después de ser sancionadas por: interferir en proceso, incumplir contrato, documentación falsa, etc.</p>
            </div>
          </div>
        </div>
        {% comment %}<div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>{% endcomment %}
      </div>

      {% comment %}<div class="row w-100" style="padding: 100px 0; ">
        <div class="col" style="width: 45%; margin-top: 80px;">
          <img src="{% static 'project/img/image_3.png' %}" alt="">
        </div>
        <div class="col" style="width: 55%;margin-top: 60px;">
          <h1 class="section-title" style="color: white; padding-bottom: 20px">Empresas que contratan con el estado teniendo sanciones</h1>
          <div class="section-description" style="color: white;margin-bottom: 30px">Con base en toda la información, podemos construir esta tabla que alerta de probables infracciones</div>
          <div>
            <div class="row">
              <div class="col col-2 section-item-icon">
                <i class="fa fa-angle-right" style="padding-top: 0"></i>
              </div>
              <div class="col col-10 section-item" style="color: white">
                <p class="description" style="font-weight: 400;">Perfil de cada empresa en la tabla de resultados</p>
              </div>
            </div>
          </div>
{#          <a class="btn btn-etdlp btn-etdlp-dark mt-5" href="{% url 'buscador_perfiles' %}">Ver tablas</a>#}
        </div>
      </div>{% endcomment %}
    </div>

  </section>
{% endblock %}
{% block extrajs %}{% endblock %}