{% extends 'base/root.html' %}
{% load static %}

{% block extrastyle %}
  <style>
    .bg-2 .number {
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 100px;
      color: #219EE4;
    }

    .bg-2 .title {
      font-weight: bold;
      line-height: 2.5rem;
    }

    .bg-2 .description {
      line-height: 2.5rem;
    }
  </style>
{% endblock %}
{% block body %}
  {#################  PORTADA  ################}
  <section style="background-image: url('{% static 'project/img/landing.png' %}');background-size: cover; height: 100vh;" id="">
    <div style=" padding: 300px 0 ">
      <div class="col container">
        <div class="w-50 ">
          <h1>ETDLP ...</h1>
          <p style="color: #5D616F;">Poner cual es nuestro fin, algo asi que tenemos etc.
            Poner cual es nuestro fin, algo asi que tenemos etc.
            Poner cual es nuestro fin, algo asi que tenemos etc.
            Poner cual es nuestro fin, algo asi que tenemos etc.
            Poner cual es nuestro fin, algo asi que tenemos etc.</p>
          {#        <button class="btn btn-warning text-white" style="padding: 2px 50px;">Estadísticas <br> Generales</button>#}
        </div>

      </div>
      <img class="position-absolute" style="left: auto; right: 0; top:10vh; max-height: 90vh; max-width: 60vw" src="{% static 'project/img/imgae_landing.png' %}" alt="">
    </div>
  </section>
  {#################  CIFRAS  ################}
  <section class="bg-2">
    <div style="padding: 100px 0" class="container">
      <h1 class="text-center section-title">Todo en un solo lugar</h1>
      <div class="row w-100" style="margin-top:20px ">
        {% comment %}<div class="col text-center">
            <div class="number">+200K</div>
            <div class="title">Registros de visitas</div>
            <div class="description">Presidencia, Congreso, Ministerios <br>
              Desde el 28 de julio 2021<br>
              Actualizado diariamente
            </div>
          </div>
          <div class="col text-center">
            <div class="number">+1.1M</div>
            <div class="title">Pagos de Planilla</div>
            <div class="description">Ministerios y despacho presidencial<br>
              Desde julio 2021<br>
              Actualizado mensualmente
            </div>
          </div>{% endcomment %}
        <div class="col text-center">
          <div class="number">+21K</div>
          <div class="title">Empresas Proveedoras</div>
          <div class="description">Desde el 2021<br>
            Actualizado mensualmente
          </div>
        </div>
        <div class="col text-center">
          <div class="number">+300k</div>
          <div class="title">Registros de Afiliación Política</div>
          <div class="description">Afiliación política de todos los DNI
            en nuestras bases de datos<br>
            Actualizado cada 3 meses
          </div>
        </div>
      </div>


    </div>
  </section>
  {#################  BUSCADOR  ################}
  <section class="position-relative h-auto">
    <div class="row w-100 position-absolute" style="padding: 100px">
      <div class="col col-6">
        <img src="{% static 'project/img/image_1.png' %}" class="" style="width: 80%" alt="">
      </div>
      <div class="col col-6">
        <h1 class="section-title" style="margin: 30px 0px">Buscador de Proveedores</h1>
        <div>Organizamos millones de puntos de datos en una solo lugar</div>
      </div>
    </div>
    <img src="{% static 'project/img/1.png' %}" class="h-auto w-100" style="z-index: -1" alt="">
  </section>
  {#################  PERFIL  ################}
  <section class="position-relative h-auto">
    <div class="row w-100 position-absolute" style="padding: 100px">
      <div class="col col-6">
        <h1 class=" section-title">Perfil de Proveedores</h1>
      </div>
      {% comment %}<div class="col col-6 position-relative">
        <img src="{% static 'project/img/image__2.png' %}" class="position-absolute l-auto" style="left:auto; right: 0;width: 55%" alt="">

      </div>{% endcomment %}
    </div>
    <img src="{% static 'project/img/2.png' %}" class="h-auto w-100" style="z-index: -1" alt="">
  </section>
  {#################  SANCIONES  ################}
  <section style="background-color: #2C3E5C;">
    <div class="row w-100" style="padding: 100px">
      <div class="col" style="width: 45%; margin-top: 80px;">
        <img src="{% static 'project/img/image_3.png' %}" alt="">
      </div>
      <div class="col" style="width: 55%;margin-top: 60px;">
        <h1 class="section-title-dark">Empresas que contratan con el estado teniendo sanciones</h1>
      </div>
    </div>
  </section>
{% endblock %}
{% block extrajs %}{% endblock %}