{% extends 'base/root.html' %}
{% load static %}

{% block extrastyle %}
  <style>
    :root {
      --bs-body-bg: #f8f8f8;
      --bs-body-color: #2F333A;
      --padding-perfil-block: 30px;
    }

    .perfil-block {
      padding: var(--padding-perfil-block);
    }

    section {
      padding: 50px 0;
    }
  </style>
{% endblock %}
{% block body %}
  <section style="padding-top: 150px" id="">
    <div class="container">
      <h2>
        {{ empresa.razon_social }}
      </h2>
      <div style="font-size: 20px;line-height: 1.5">
        <div>{{ empresa.tipoempresa }} <br> RUC: {{ empresa.ruc }}</div>
      </div>

    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="mb-3">Información</h3>
      <p>{{ empresa.razon_social }} cuenta con {{ socios_length }} socio{{ socios_length|pluralize:",s" }} y {{ represents|length }} representante{{ represents|length|pluralize:",s" }}</p>

      <div class="row w-100" style="background-color: white">
        <div class="col perfil-block border-end border-2" style="padding-left: 0;padding-right: 0">
          <h3 style="padding-left: var(--padding-perfil-block)">Socios</h3>
          <div id="socios-pie" style="width: 100%;height:300px;"></div>
        </div>
        <div class="col perfil-block border-start border-2">
          <h3>Representantes</h3>
          {% for represnt in represents %}
            <div class="p-3">
              {{ represnt.apellidosnomb }}<br>{{ represnt.sigladocide }} {{ represnt.nrodocumento }}
            </div>
          {% endfor %}
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Información Administrativa</h3>
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Información Geográfica</h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="mb-3">Contratos</h3>
      <p>{{ empresa.razon_social }} obtuvo {{ contratos|length }} contrato{{ contratos|length|pluralize:",s" }}{% if contratos|length %} por S/{{ suma_contratos.sum }}{% endif %}.</p>
      <div class="row w-100" style="background-color: white">
        <div class="col col perfil-block border-end border-2" style="padding-left: 0;padding-right: 0">
          <h3 style="padding-left: var(--padding-perfil-block)">Principales Contratantes</h3>
          <div id="contratantes-bar" style="width: 100%;height:500px;"></div>
        </div>
        <div class="col col perfil-block border-start border-2">
          <h3>Tipo de Contrato</h3>
          <div id="tipocontratos-pie" style="width: 100%;height:500px;"></div>
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Listado de Contratos</h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="mb-3">Sanciones</h3>
      {#      <p>Corporativo DEA obtuvo 3 contratos  por S/40,000.</p>#}
      <div class="row w-100" style="background-color: white">
        <div class="col col-12 perfil-block">
          <h3>Listado de Sanciones</h3>
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Listado de Sanciones</h3>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
{% block extrajs %}
  <script src="{% static 'project/lib/echarts/echarts.min.js' %}"></script>
  <script>
    let sociosPieChart = echarts.init($('#socios-pie')[0]);
    sociosPieChart.setOption({
      grid: {
        containLabel: true
      },
      tooltip: {
        trigger: 'item',
        formatter: (params) => {
          console.log(params)
          return `
                ${params.seriesName} <br/><br/>
                ${params.name}: <b>${params.value}%</b><br/>
                ${params.data.sigladocide} ${params.data.nrodocumento}<br/>
                Ingreso: ${params.data.fechaingreso}<br/>
                `;
        },
      },
      series: [
        {
          name: 'Acciones',
          type: 'pie',
          {#radius: '65%',#}
          data: {{ socios_chart|safe }},
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    });


    let contratantesBarChart = echarts.init($('#contratantes-bar')[0]);
    contratantesBarChart.setOption({
      grid: {
        top: 50,
        bottom: 10,
        containLabel: true
      },
      tooltip: {
        confine: true,
        trigger: "item",
        axisPointer: {
          type: "shadow"
        },
      },
      dataset: [
        {
          source: {{ contratantes_chart|safe }},
        },
        {% if contratantes_length %}
          {
            transform: {
              type: 'sort',
              config: {dimension: 'total', order: 'desc'}
            }
          }
        {% endif %}
      ],
      xAxis: {},
      yAxis: {
        inverse: true,
        type: 'category',
        axisLabel: {
          interval: 0,
          rotate: 0,
          width: '150',
          overflow: 'break'
        },
        max: 3
      },
      series: {
        type: 'bar',
        encode: {x: 'total', y: 'nomentcont'},
        datasetIndex: 1
      }
    });


    let tipocontratoPieChart = echarts.init($('#tipocontratos-pie')[0]);
    tipocontratoPieChart.setOption({
      grid: {
        containLabel: true
      },
      legend: {
        top: '5%',
        left: 'center'
      },
      tooltip: {
        trigger: 'item',
        {% comment %}formatter: (params) => {
          console.log(params)
          return `
                ${params.seriesName} <br/><br/>
                ${params.name}: <b>${params.value}%</b><br/>
                ${params.data.sigladocide} ${params.data.nrodocumento}<br/>
                Ingreso: ${params.data.fechaingreso}<br/>
                `;
        },{% endcomment %}
      },
      series: [
        {
          name: 'Tipo de Contrato',
          type: 'pie',
          radius: ['50%', '70%'],
          label: {
            show: false,
            position: 'center',
            overflow: 'break',
          },
          itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
          },
          data: {% if contratos|length %}{{ tipocontratos_chart|safe }}{% else %}[]{% endif %},
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)',
              borderWidth: 0
            },
            label: {
              width: 300,
              show: true,
              fontSize: '35',
              fontWeight: 'bold',
              overflow: 'break',
            },
            labelLine: {
              show: false
            },
          }
        }
      ]
    });



    window.onresize = function () {
      sociosPieChart.resize();
      contratantesBarChart.resize();
      tipocontratoPieChart.resize();
    };
  </script>
{% endblock %}