{% extends 'base/root.html' %}
{% load static %}

{% block extrastyle %}
  <style>
    :root {
      --padding-perfil-block: 30px;
    }

    .perfil-block {
      padding: var(--padding-perfil-block);
    }

    section {
      padding: 50px 0;
    }
  </style>
{% endblock %}
{% block body %}
  <section style="padding-top: 150px" id="">
    <div class="container">
      <h2>
        {{ empresa.razon_social }}
      </h2>
      <div style="font-size: 20px;line-height: 1.5">
        <div>{{ empresa.tipoempresa }} <br> RUC: {{ empresa.ruc }}</div>
      </div>

    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="mb-3">Información</h3>
      <p>{{ empresa.razon_social }} cuenta con {{ socios_length }} socio{{ socios_length|pluralize:",s" }} y {{ represents|length }} representante{{ represents|length|pluralize:",s" }}</p>

      <div class="row w-100" style="background-color: white">
        <div class="col perfil-block border-end border-2" style="padding-left: 0;padding-right: 0">
          <h3 style="padding-left: var(--padding-perfil-block)">Socios</h3>
          <div id="socios-pie" style="width: 100%;height:300px;"></div>
        </div>
        <div class="col perfil-block border-start border-2">
          <h3>Representantes</h3>
          {% for represnt in represents %}
            <div class="p-3">
              {{ represnt.apellidosnomb }}<br>{{ represnt.sigladocide }} {{ represnt.nrodocumento }}
            </div>
          {% endfor %}
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Información Administrativa</h3>
          <div class="row w-100">
            <div class="table-responsive py-5 px-3">
              <table id="administrativos-table" class="table order-column stripe hover">
              </table>
            </div>
          </div>
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Información Geográfica</h3>
          <div class="row w-100">
            <div class="table-responsive py-5 px-3">
              <table id="geo-table" class="table order-column stripe hover">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="mb-3">Contratos</h3>
      <p>{{ empresa.razon_social }} obtuvo {{ contratos_length }} contrato{{ contratos_length|pluralize:",s" }}{% if contratos_length %} por S/{{ suma_contratos.sum|floatformat:2 }}{% endif %}.</p>
      <div class="row w-100" style="background-color: white">
        <div class="col col perfil-block border-end border-2" style="padding-left: 0;padding-right: 0">
          <h3 style="padding-left: var(--padding-perfil-block)">Principales Contratantes</h3>
          <div id="contratantes-bar" style="width: 100%;height:500px;"></div>
        </div>
        <div class="col col perfil-block border-start border-2">
          <h3>Tipo de Contrato</h3>
          <div id="tipocontratos-pie" style="width: 100%;height:500px;"></div>
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Listado de Contratos</h3>
          <div class="row w-100">
            <div class="table-responsive py-5 px-3">
              <table id="contratos-table" class="table order-column stripe hover">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="mb-3">Sanciones</h3>
      {#      <p>Corporativo DEA obtuvo 3 contratos  por S/40,000.</p>#}
      <div class="row w-100" style="background-color: white">
        <div class="col col-12 perfil-block">
          <h3 class="mb-5"><span class="fw-normal">¿Tiene sanciones vigentes?:</span> {% if vigentes %}VIGENTE{% else %}NO VIGENTE{% endif %}</h3>
          <p class="h4 fw-normal">{{ empresa.razon_social }}
            <br> presenta {{ sanciones_length }} sanci{{ sanciones_length|pluralize:'ón,ones' }}
            {% if sanciones_length %}
              {% if not min_fecha_sanciones == max_fecha_sanciones %}
                <br> entre {{ min_fecha_sanciones|default:'--' }} y {{ max_fecha_sanciones|default:'--' }}
              {% else %}
                <br> el {{ min_fecha_sanciones|default:'--' }}
              {% endif %}
            {% endif %}
          </p>
        </div>
        <div class="col col-12 perfil-block border-top border-4">
          <h3>Listado de Sanciones</h3>
          <div class="row w-100">
            <div class="table-responsive py-5 px-3">
              <table id="sanciones-table" class="table order-column stripe hover">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
{% block extrajs %}
  <script>
    $(() => {
      let sociosPieChart = echarts.init($('#socios-pie')[0]);
      sociosPieChart.setOption({
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          containLabel: true
        },
        tooltip: {
          trigger: 'item',
          formatter: (params) => {
            return `
                ${params.seriesName} <br/><br/>
                ${params.name}: <b>${params.value}%</b><br/>
                ${params.data.sigladocide} ${params.data.nrodocumento}<br/>
                Ingreso: ${params.data.fechaingreso}<br/>
                `;
          },
        },
        series: [
          {
            name: 'Acciones',
            type: 'pie',
            {#radius: '65%',#}
            data: {{ socios_chart|safe }},
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      });


      let contratantesBarChart = echarts.init($('#contratantes-bar')[0]);
      contratantesBarChart.setOption({
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          top: 50,
          bottom: 10,
          containLabel: true
        },
        tooltip: {
          confine: true,
          trigger: "item",
          axisPointer: {
            type: "shadow"
          },
        },
        dataset: [
          {
            source: {{ contratantes_chart|safe }},
          },
          {% if contratantes_length %}
            {
              transform: {
                type: 'sort',
                config: {dimension: 'total', order: 'desc'}
              }
            }
          {% endif %}
        ],
        xAxis: {
          name: '# contratos',
          nameLocation: 'start',
          nameTextStyle: {
            fontStyle: 'italic',
            fontWeight: 'bold',
          }
        },
        yAxis: {
          inverse: true,
          type: 'category',
          axisLabel: {
            interval: 0,
            rotate: 0,
            width: '150',
            overflow: 'break'
          },
          max: 3
        },
        series: {
          type: 'bar',
          encode: {x: 'total', y: 'nomentcont'},
          datasetIndex: 1
        }
      });


      let tipocontratoPieChart = echarts.init($('#tipocontratos-pie')[0]);
      tipocontratoPieChart.setOption({
        textStyle: {
          fontFamily: 'poppins'
        },
        grid: {
          containLabel: true
        },
        legend: {
          top: '5%',
          left: 'center'
        },
        tooltip: {
          trigger: 'item',
        },
        series: [
          {
            name: 'Tipo de Contrato',
            type: 'pie',
            radius: ['50%', '70%'],
            label: {
              show: false,
              position: 'center',
              overflow: 'break',
            },
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2
            },
            data: {% if contratos_length %}{{ tipocontratos_chart|safe }}{% else %}[]{% endif %},
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)',
                borderWidth: 0
              },
              label: {
                width: 300,
                show: true,
                fontSize: '25',
                fontWeight: 'bold',
                overflow: 'break',
              },
              labelLine: {
                show: false
              },
            }
          }
        ]
      });


      window.onresize = function () {
        sociosPieChart.resize();
        contratantesBarChart.resize();
        tipocontratoPieChart.resize();
      };
    })
  </script>
  <script>
    $(() => {
      $('#administrativos-table').DataTable({
          buttons: [{
            extend: 'excel',
            text: '<i class="fa fa-file-excel me-1"></i> Exportar a Excel',
            filename: `*_administrativa_{{ empresa.ruc }}`,
          }],
          data: {{ administrativos|safe }},
          columns: [
            {data: "apellidosnomb", title: "Nombre y Apellidos", className: "align-middle"},
            {data: "sigladocide", title: "Documento", className: "align-middle"},
            {data: "nrodocumento", title: "Número de Documento", className: "align-middle"},
            {data: "desccargo", title: "Cargo", className: "align-middle"},
            {data: "desctipoorgano", title: "Órgano", className: "align-middle"},
            {
              data: "fechaingreso", title: "Fecha Ingreso", className: "align-middle", render: function (data, type) {
                if (data) {
                  let date = moment(data, "DD/MM/YYYY");
                  return (type === 'display') ? date.format("DD/MM/YYYY") : date.format("X");
                } else {
                  return (type === 'display') ? '--' : data;
                }
              }
            },
          ],
        }
      );
      $('#geo-table').DataTable({
          buttons: [{
            extend: 'excel',
            text: '<i class="fa fa-file-excel me-1"></i> Exportar a Excel',
            filename: `*_geografica_{{ empresa.ruc }}`,
          }],
          data: {{ geograficas|safe }},
          columns: [
            {data: "departamento", title: "Departamento", className: "align-middle"},
            {data: "provincia", title: "Provincia", className: "align-middle"},
            {data: "distrito", title: "Distrito", className: "align-middle"},
            {data: "estado", title: "Estado", className: "align-middle"},
            {data: "condicion", title: "Condición", className: "align-middle"},
            {data: "codigoregistro", title: "Código Registro", className: "align-middle"},
          ],
        }
      );
      $('#contratos-table').DataTable({
          buttons: [{
            extend: 'excel',
            text: '<i class="fa fa-file-excel me-1"></i> Exportar a Excel',
            filename: `*_contratos_{{ empresa.ruc }}`,
          }],
          data: {{ contratos|safe }},
          columns: [
            {data: "nomentcont", title: "Entidad Contratante", className: "align-middle"},
            {data: "descontprov", title: "Descripción Contrato", className: "align-middle"},
            {
              data: "montoorigen", title: "Monto", className: "align-middle dt-body-right dt-body-nowrap", render: function (data, type) {
                if (type === 'display') {
                  return (data) ? 'S/. ' + data : '--';
                } else {
                  return data
                }
              }
            },
            {data: "desestcontprov", title: "Estado Contrato", className: "align-middle"},
            {data: "descatobj2", title: "Tipo Contrato", className: "align-middle"},
            {data: "codcontprov", title: "Código Contrato", className: "align-middle"},
          ],
        }
      );
      $('#sanciones-table').DataTable({
          buttons: [{
            extend: 'excel',
            text: '<i class="fa fa-file-excel me-1"></i> Exportar a Excel',
            filename: `*_sanciones_{{ empresa.ruc }}`,
          }],
          data: {{ sanciones|safe }},
          columns: [
            {data: "descripcion", title: "Descripción", className: "align-middle"},
            {data: "motivos", title: "Motivos", className: "align-middle"},
            {data: "fechaini_field", title: "Fecha Inicio", className: "align-middle"},
            {data: "fechafin_field", title: "Fecha Fin", className: "align-middle"},
            {data: "meses_sancionado", title: "Meses sancionado", className: "align-middle"},
            {
              data: "vigente", title: "Vigente", className: "align-middle", render: function (data, type) {
                if (type === 'display') {
                  return (data) ? 'Sí' : 'No';
                } else {
                  return data
                }
              }
            },
            {
              data: "montotexto", title: "Monto", className: "align-middle dt-body-right dt-body-nowrap", render: function (data, type) {
                if (type === 'display') {
                  return (data) ? 'S/. ' + data : '--';
                } else {
                  return data
                }
              }
            },
            {data: "nrores", title: "Nro Resolución", className: "align-middle dt-body-right dt-body-nowrap"},
          ],
          columnDefs: [
            {
              targets: [2, 3], render: function (data, type) {
                if (data) {
                  let date = moment(data, "YYYY-MM-DD");
                  return (type === 'display') ? date.format("DD/MM/YYYY") : date.format("X");
                } else {
                  return (type === 'display') ? '--' : data;
                }
              }
            }
          ],
          order: [2, 'asc']
        }
      );
    })
  </script>
{% endblock %}