{% extends 'base/root.html' %}
{% load static %}
{% block extrastyle %}
  <style>
    .dataTables_filter {
      display: none;
    }

  </style>
{% endblock %}
{% block body %}
  {#################  PORTADA  ################}
  <section class="buscador-portada" style="background-image: url('{% static 'project/img/landing.png' %}'); background-size: 100% 100%;height: 500px;" id="">
    <div class="container h-100">
      <div style=" padding: 175px 0 " class="position-relative h-100">
        <div class="text-center">
          <h1>{{ title }}</h1>
          <div>
            <p>{{ description }}</p>
          </div>
          <div>
            <div class="input-group" style="max-width: 60%; margin: auto">
              <input class="form-control" placeholder="{{ placeholder }}" id="query" value="{{ query }}"/>
              <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                  <button tabindex="-1" class="btn btn-link" id="search"> <i
                      class="fa fa-fw fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>

          {#        <button class="btn btn-warning text-white" style="padding: 2px 50px;">Estadísticas <br> Generales</button>#}
        </div>
      </div>

    </div>
  </section>
  <section id="resultados-section">
    <div class="container">
      Resultados
      <p>Puedes ordenar los resultados de manera ascendente o descendente:</p>
      <div class="row w-100" style="background-color: white">
        <div class="table-responsive">
          <table id="data" class="table order-column stripe hover">
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block extrajs %}
  <script>
    $(() => {
      let table = $('#data').DataTable({
          {% if query %}
            oSearch: {sSearch: "{{ query }}"},
          {% endif %}
          serverSide: true,
          ajax: '{% url 'api_perfil-list' %}?format=datatables',
          columns: [
            {
              data: "link", className: "align-middle", render: function (data, type) {
                if (type === 'display') {
                  return '<a target="_blank" href="' + data + '">Ver perfil</a>';
                } else {
                  return data
                }
              },
            },
            {data: "ruc", title: 'RUC', className: "align-middle"},
            {data: "razon_social", title: 'Razón Social', className: "align-middle"},
            {data: "tipoempresa", title: 'Tipo de Empresa', className: "align-middle"},
            {data: "seace_registros", title: '# Contrataciones', className: "align-middle dt-body-right"},
            {
              data: "seace_gasto_total", title: 'Monto Total',className: "align-middle dt-body-right dt-body-nowrap",   render: function (data, type) {
                if (type === 'display') {
                  return (data) ? 'S/. ' + data : '--';
                } else {
                  return data
                }
              }
            },
            {data: "seace_fecha_min", title: 'Fecha Min', className: "align-middle dt-body-right dt-body-nowrap"},
            {data: "seace_fecha_max", title: 'Fecha Max', className: "align-middle dt-body-right dt-body-nowrap" },
          ],
          columnDefs: [
            {
              targets: [1, 2, 3, 4],
              render: function (data, type) {
                if (type === 'display') {
                  return (data) ? data : '--';
                } else {
                  return data
                }
              },
            },
            {
              targets: [6, 7],
              render: function (data, type) {
                if (data) {
                  let date = moment(data, "YYYY-MM-DD");
                  return (type === 'display') ? date.format("DD/MM/YYYY") : date.format("X");
                } else {
                  return (type === 'display') ? '--' : data;
                }
              },
            },
            {
              searchable: false,
              "targets": [0, 3, 4, 5, 6, 7]
            },
            {
              orderable: false,
              "targets": [0]
            }
          ],
          order: [1, 'asc'],
        }
      );


      let $input = $('#query')

      function buscar() {
        let value = $input.val().trim()
        $input.val(value)
        const url = new URL(window.location.href);
        url.searchParams.set('q', value);
        window.history.replaceState(null, null, url);
        table.search(value).draw();
        $("html, body").animate({scrollTop: $('#resultados-section').offset().top - 100});
      }

      $('#search').on('click', buscar)
      $input.on('keyup', e => {
        if (e.which === 13) buscar()
      })
    })
  </script>
{% endblock %}